
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Moritz Zimmermann"> 
        
    <meta property="og:type" content="website">
    <meta property="type" content="website">
        
    <meta name="og:site_name" content="" />
    <meta name="site_name" content="" />
        
    <meta property="og:title" content="" />
    <meta property="title" content="" />
        
    <meta name="og:image" content="/images/favicon.ico" />
    <meta name="image" content="/images/favicon.ico" />
        
    <meta name="description" content="An advanced malware framework." />
    <meta name="og:description" content="An advanced malware framework." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <title>væv</title>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/dashlite.css?ver=2.6.0">
    <link id="skin-default" rel="stylesheet" href="/css/theme.css?ver=2.6.0">
</head>
<body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-md mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <img class="nk-error-gfx" src="./images/gfx/error-404.svg" alt="">
                            <div class="wide-xs mx-auto">
                                <h3 class="nk-error-title">Oops! Why you’re here?</h3>
                                <p class="nk-error-text">We are very sorry for inconvenience. It looks like you’re try to access a page that either has been deleted or never existed.</p>
                                <a href="/dashboard" class="btn btn-lg btn-primary mt-2">Back To Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bundle.js?ver=2.6.0"></script>
    <script src="/js/scripts.js?ver=2.6.0"></script>
</html>