<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Moritz Zimmermann"> 
    
        <meta property="og:type" content="website">
        <meta property="type" content="website">
    
        <meta name="og:site_name" content="" />
        <meta name="site_name" content="" />
    
        <meta property="og:title" content="" />
        <meta property="title" content="" />
    
        <meta name="og:image" content="/images/favicon.ico" />
        <meta name="image" content="/images/favicon.ico" />
    
        <meta name="description" content="An advanced malware framework." />
        <meta name="og:description" content="An advanced malware framework." />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>væv</title>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/dashlite.css?ver=2.6.0">
        <link id="skin-default" rel="stylesheet" href="/css/theme.css?ver=2.6.0">
    </head>
    
    <body class="nk-body bg-white npc-default pg-error">
        <div class="nk-app-root">
            <div class="nk-main ">
                <div class="nk-wrap nk-wrap-nosidebar">
                    <div class="nk-content ">
                        <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                            <div class="card card-bordered">
                                <div class="card-inner card-inner-lg">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title">Setup</h4>
                                            <div class="nk-block-des">
                                                <p>Please setup your admin login!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="/setup" method="POST">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label class="form-label" for="username">Username</label>
                                            </div>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label class="form-label" for="password">Password</label>
                                            </div>
                                            <div class="form-control-wrap">
                                                <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                                </a>
                                                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block">Setup</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="nk-footer nk-auth-footer-full">
                            <div class="container wide-lg">
                                <div class="row g-3">
                                    <div class="col-lg-6 order-lg-last">
                                        <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                            <li class="nav-item">
                                                <a class="nav-link" href="https://github.com/justvmexit/vaev/pulls">Contribute</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="https://github.com/justvmexit/vaev/">GitHub</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="https://github.com/justvmexit/vaev/issues">Help</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="nk-block-content text-center text-lg-left">
                                            <p class="text-soft">An open-source advanced malware framework</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="/js/bundle.js?ver=2.6.0"></script>
        <script src="/js/scripts.js?ver=2.6.0"></script>
    </body>
    </html>