<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Moritz Zimmermann"> 

    <meta property="og:type" content="website">
    <meta property="type" content="website">

    <meta name="og:site_name" content="" />
    <meta name="site_name" content="" />

    <meta property="og:title" content="" />
    <meta property="title" content="" />

    <meta name="og:image" content="/images/favicon.ico" />
    <meta name="image" content="/images/favicon.ico" />

    <meta name="description" content="An advanced malware framework." />
    <meta name="og:description" content="An advanced malware framework." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>væv</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <center>
            <div class="title">
                <h1 style="font-weight: bold;">væv <span>platform</span></h1>
                <p> A project by <a href="https://github.com/justvmexit">vmexit</a> </p>
            </div>
        </center>
    </div>
</body>
</html>